@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Open+Sans&family=Roboto&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 130px;
    border-bottom: 2px solid #a19e9e;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}
.nav1{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid rgb(168, 163, 163);
    box-sizing: border-box;
    display: flex;
    padding-left: 6%;
    padding-right: 7%;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */

}
.logo-container{
    display: flex;
    align-content: center;
    /* border: 2px solid yellow; */
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 26px;

}
.messho-logo{
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #540338;

}


.serch-container{
    display: flex;
    width: 30%;
    border: 1px solid grey;
    height: 58%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    margin-right: 30px;
    color: #a19e9e;
}

#search-bar{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid grey;
    outline: none;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
}

.divider{
    width: 1px;
    height: 35px;
    background-color: gray;
}
.item-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    font-family: 'Ubuntu', sans-serif;
    gap: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.item-container-1{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.item-container-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border: 2px solid red; */
    padding-top: 20px;
    height: 55px;
    align-content: center;

}
.nav2{
    display: flex;
    flex-direction: row;
    margin: 0px 125px 0px 114px;
    align-items: center;
    /* border: 2px solid red; */
    height: 55px;
    /* box-sizing: border-box; */
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    
}
.nav2>span{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.hove:hover{
    border-bottom: 3px solid rgb(164, 31, 164);
    color: rgb(164, 31, 164);
}

.container{
    margin: 50px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(18, 1fr);
    width: 70%;
    
    height: 300vh;
    /* border: 2px solid black; */
    box-sizing: border-box;
    row-gap: 20px;
}
.banner-container{
    width: 100%; 
    /* border: 2px solid green; */
    box-sizing: border-box;
}
.banner1{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2; 
    display: flex;
    /* border: 2px solid red; */
    background-color: #f8f8ff;
}
.banner2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2; 
}
#banner-items2{
    width: 50%;
    height: 100%;
    background-image: url(meesho_banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#banner-items1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 0px 40px;
    font-size: 22px;
    font-family: sans-serif

}
.banner-list{
    display: flex;
    margin-top: 30px;
    height: 55px;
    
    gap: 50px;
    width: 80%;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 16px;
    font-family: sans-serif;
    color: #454244;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
}
#banner-btn>button{
    margin: 40px 0px 0px 0px;
    width: 20vw;
    height: 45px;
    font-size: 17px;
    background-color: #9f2089;
    color: white;
   letter-spacing: 1px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 500;
    font-family: sans-serif;
}