*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header{
    width: 100vw;
    height: 140px;
    position: fixed;
    top: 0;
    z-index: 2;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 5rem;
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(174, 172, 172);
    
    transition: 0.1s ease;
    background: white;
    
  
}
.part1 h1{
    color: #550557;
}

.part1{
    display: flex;
    gap: 20px;
    font-size: larger;
}
.part1 input{
    width: 20vw;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid;

}

.part2 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35vw;
}
.part2{
    display: flex;
    width: 50%;
}

.part2 ul li{
    list-style: none;
    margin: 0 20px;
    
}

.part2 ul li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.part2 ul li a:hover{
    color: #550557;
}
ul span{
    width: 1px;
    height: 40px;
    background-color: gray;
    border: 1px solid gray;
    box-sizing: border-box;

}
#part3{
    display: flex;
   align-items: center;
    justify-content: space-between;
    width: 8vw;
}

.item {
    display:flex;
    margin:  0 2rem;
    gap: 2rem;
}
.item div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.item div:hover{
    scale: 1.03;
    color: #550557;
}
.part3 {
    font-size: 25px;
    display: none;
}

/* SidePanel Creation */
.sidePanel li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidePanel{
    
    display: none;
    position: fixed;
    top: 80px;
    width: 50px;
    height: fit-content;
    border-bottom-right-radius: 10px;
    backdrop-filter: blur(10px);
}
.sidePanel li i{
    color: #550557;
    font-size: 20px;
    margin: 20px 0;
}
.nav2{
    width: 100%;
    /* position: relative;
    top: 80px; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5rem;
    border-bottom: 1px solid gray;
    

}
.nav2 li{
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-weight: 500;
    height: 100%;
    box-sizing: border-box;
   
}
.nav2 li:hover{
   color: #550557;
   cursor: pointer;
   border-bottom: 2px solid #550557;;

}
.dropdown{
    width: 0%;
    height: 363px;
    background-color: #550557;
    color: white;
    position: absolute;
    top: 80px;
    right: 0;
    transition: 0.5s ease;
    display: none;
    

}
.dropdown li{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 17px;

}

.open{
    width: 80%;
}

.banner{
    width: 70%;
    height: 50vh;
    margin: 10vh auto;
    display: flex;
    justify-content: space-between;
    background-color: #fcefff;
    font-size: 25px;
    
}
.banner_part1{
    padding: 30px;
}

.banner ul{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 20px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 4px;
    height: 60px;
}
.banner ul li{
    list-style: none;
    display: inline;
    margin:  2rem 1rem;
    font-size: medium;
    
    
}
.banner ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
}

.banner_part2 img{
    width: 30vw;
    height: 100%;

}
.banner_part1 button{
    width: 21vw;
    background-color: #a625a6;
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 28px ;
    border-radius: 6px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}


@media (max-width: 1070px)
{
    .navbar{
        padding: 0 2rem;
        width: 100vw;
    }
    .nav2{
        padding: 0 2rem;
    }
}

@media (max-width:900px)
{
    .part2 ul, .nav2{
        display: none;
    }
    .part3, .sidePanel{
        display: block;  
    }

    .sidePanel:hover{
        color: black;
    }
    .navbar{
        justify-content: center;
        padding: 0 1rem;
    }

    .dropdown{
        display: block;
    }   
}


 

